<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../images/logo.png" >
  <title>MILAN IITH</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="../public/style.css">
</head>

<body>

  <div>
    <div class="container-fluid">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-0">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <img src="../images/logo.png" class="logo" height="50" width="50" border-radius="50%">
        </a>

        <ul class="nav nav-pills">
          <li class="nav-item"><a href="#" class="nav-link" aria-current="page">HOME</a></li>
          <li class="nav-item"><a href="#" class="nav-link">SPORTS</a></li>
          <li class="nav-item"><a href="#" class="nav-link">CULTURAL</a></li>
          <li class="nav-item"><a href="#" class="nav-link">SCI-TECH</a></li>
          <li class="nav-item"><a href="#" class="nav-link">SPONSERS</a></li>
          <li class="nav-item"><a href="#" class="nav-link">TEAM</a></li>
          <li class="nav-item"><a href="#" class="nav-link">CONTACT US</a></li>
          <li class="nav-item"><a href="/register" class="nav-link">REGISTER</a></li>
          <li class="nav-item"><a href="/login" class="nav-link">LOGIN</a></li>
        </ul>
      </header>
    </div>

    <div class="cover">
      <div class="left-content">
        <h1 class="cover-title">Milan - IIT Hyderabad</h1>
      </div>
    </div>

    <div class="container about-us">
      <h2 class="heading">About Milan</h2>
      <p class="matter">Milan is annual inter-hostel championship of IIT Hyderabad aimed at building community,
        teamwork, and
        friendly competition among students. It includes various sports, cultural and tech events like football,
        cricket, dance, music, debates, and quizzes. Each hostel sends its best participants to compete for points
        towards the overall championship. The event ends with a grand awards ceremony that honors individual and team
        achievements, creating strong bonds through shared experiences and spirited rivalry.</p>
    </div>

    <div class="container">
      <h2 class="heading">Gallery</h2>
      <div class="gallery">
        <img src="../images/grid1.jpg" class="img5" />
        <img src="../images/grid2.jpg" class="img5" />
        <img src="../images/grid3.jpg" class="img5" />
        <img src="../images/grid4.jpeg" class="img4" />
        <img src="../images/grid5.jpeg" class="spanrow" />
        <img src="../images/grid6.jpg" class="img5" />
        <img src="../images/grid7.jpg" class="img5" />
      </div>
    </div>


    <div class="container about-us">

      <h2 class="heading">Divisions</h2>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm ">
            <div class="card-header py-3 custom-card-2">
              <h4 class="my-0 fw-normal">Sports</h4>
            </div>
            <div class="card-body custom-card-1">
              <p>Milan conduct of 19 Sports events like Cricket, Football, etc. between all the hostel blocks. For more
                info go to Sports page.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 custom-card-2">
              <h4 class="my-0 fw-normal">Cultural</h4>
            </div>
            <div class="card-body custom-card-1">
              <p>Milan conduct of 18 Cultural events like Aachank se point bdal diye, Open mic, etc. between all the
                hostel blocks. For more info go to Cultural page.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 custom-card-2">
              <h4 class="my-0 fw-normal">Technical</h4>
            </div>
            <div class="card-body custom-card-1">
              <p>Milan conduct of 11 Technical events like Hackathons, Sugar rockery etc. between all the hostel blocks.
                For more info go to Sci-Tech page.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container about-us ">
      <h2 class="heading">Aftermovie</h2>
      <a href="https://www.youtube.com/watch?v=YYgBsC1Ee10&t=38s">
        <img class="thumbnilimg" src="../images/thumbnil.png"></a>
    </div>

    <div class="container-fluid footerBack">

      <div class="container">
        <footer class="py-5">
          <div class="row">
            <div class="col-6 col-md-2 mb-3">
              <h5 class="">Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">Events</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">Sponsers</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">Team</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">Contact Us</a></li>
              </ul>
            </div>
  
            <div class="col-6 col-md-2 mb-3">
              <h5 class="">Other Fests</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">Elan & nVision</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">TedX</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">E-Summit</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">Horizon</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">Diesta</a></li>
              </ul>
            </div>
  
            <div class="col-6 col-md-2 mb-3">
              <h5 class="">Quick Links</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">Gymkhana</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">IITH Hostels</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">EBSB</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-primary">Sunshine</a></li>
              </ul>
            </div>
  
            <div class="col-md-5 offset-md-1 mb-3">
              <form>
                <h5>Subscribe to our newsletter</h5>
                <p>To get informed about leaderboad and standings.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email</label>
                  <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                  <button class="btn btn-primary" type="button">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
  
  
        </footer>
      </div>

      <div class="container-fluid">
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
          <p copyr>© 2024 Milan, Inc. All rights reserved.</p>
          <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-body-emphasis" href="#"><img class="insta" src="../images/insta.png" /></a>
            </li>
            <li class="ms-3"><a class="link-body-emphasis" href="#"><img class="x" src="../images/x.png" /></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="#"><img class="fb" src="../images/facebook.png" /></a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  





</body>

</html>